header {
  /* max-width: 1280px;
  margin: 0 auto; */
  display: flex;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding: 0 10px;
}
